body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color:#b48450;
}
#placar-header{
  background-color: #ffb86c;
  border-radius: 10%;
  margin: 3px;
  padding: 10px;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 2px #f8f8f2 solid; 
}
#placar-header p,h2{
  font-family: 'Righteous', cursive;
  color:#f8f8f2;
}
.piano {
  height: 290px;
  padding: 90px 30px 0 30px;
  /*background-color: #fc8989;*/
  background-color: #000;
  border-radius: 10px;
  border: 7px #7c2a1c solid;
}

/* Menu */
#menu {
  background-color: #ffb86c;
  padding: 0.7em;
  border-radius: 0.4em;
  border: 2px white solid;
}
#menu h2 {
  font-family: 'Righteous', cursive;
  color: #f8f8f2;
}
#menu p {
  border-color: #f8f8f2;
  border-radius: 0.5em;
  padding: 0.2em;
  border-style: solid;
  color: #f8f8f2;
}
#menu p:hover {
  border-color: #f1fa8c;
}
button{
  display:block;
 background: linear-gradient(to right,#ffb86c ,#ffb86c);
 background-color: #ffb86c;
 color: white;
 font-family: Trebuchet MS;
 font-size: 1em;
 font-weight: 800;
 font-style: normal;
 text-decoration: none;
 padding: 0.4em 0.4em;
 border: 2px solid #ffffff;
 border-radius: 100%;
 display: inline-block;
 margin: 0.4em;
}
button:hover{
 background: linear-gradient(to right,#ffc082 ,#ffc082);
 background-color: #ffc082;
}
button:active{
 transform: scale(0.95);
}

#retornaMenu{
  display: none;
  border: 1px white solid;
  border-radius: 100%;
  float: right;
  padding: 9px;
  margin: 5px;
}
#retornaMenu:hover {
  transform: translate(2px, 2px);
}
.none {
  display: none;
}
.pretas {
  position: relative;
  display: flex;
}

.brancas {
  display: flex;
}

.preta {
  width: 38px;
  height: 160px;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
  position: absolute;
  background-color: #000;
}

.branca {
  width: 68px;
  height: 280px;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  border: solid #000 2px;
  box-sizing: border-box;
}

.tocando {
  background-color: blue;
}
.erro {
  background-color: #ff3333;
}
.acerto {
  background-color: #008000;
}

#invisible {
  display: none;
  background-color: black;
}

.preta:nth-child(1) {
  left: 48px;
}

.preta:nth-child(2) {
  left: 117px;
}

.preta:nth-child(3) {
  left: 253px;

}

.preta:nth-child(4) {
  left: 320px;

}

.preta:nth-child(5) {
  left: 389px;

}

.preta:nth-child(6) {
  left: 525px;

}

.preta:nth-child(7) {
  left: 594px;

}

.preta:nth-child(8) {
  left: 728px;

}

.preta:nth-child(9) {
  left: 797px;

}

.preta:nth-child(10) {
  left: 865px;

}

#fim-de-jogo{
  display: none;
}

.ganhou, .perdeu{
  width: 400px;
  height: 400px;
  background-color: #7c2a1c;
}

.ganhou h1, .perdeu h1 {
  font-size: 4em;
  color: #fff;
  font-family: 'Oswald', sans-serif;
}

.ganhou a, .perdeu a{
  font-size: 15px;
  color: red;
  font-family: 'Mulish', sans-serif;
  text-decoration: none;
}