body {
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp2508495.jpg&f=1&nofb=1&ipt=aee8d3a84421f0fa24cf3d8998766d378de9c87eeec68426eec7232f8341051c&ipo=images);
<<<<<<< HEAD
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
=======
>>>>>>> b17453722f5781534d6925b30078b1bca7fe0777
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    background-size: 100%;
}
#titulo h1 {
    font-family: 'Righteous', cursive;
    font-size: 6vh;
    text-shadow: 2px 4px 14px rgba(72,0,255,0.6);
    color: #e5ffbb;
}

#titulo a {
    font-family: 'Bebas Neue', cursive;
    font-size: 4vh;
    text-shadow: -5px 4px 14px rgba(166,255,147,0.6);
    color: white;
    text-decoration: none;
}
<<<<<<< HEAD

#conteudo-principal {
    text-align: center;
}

#logo {
    width: 20vh;
    height: 20vh;
=======
#conteudo-principal{
    position: relative;
    top: 300px;
    left: 30px;
}
#logo{
>>>>>>> b17453722f5781534d6925b30078b1bca7fe0777
    filter: invert(1);
}