body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  min-height: 100%;
}
/* geral ->>>*/
.botoesDiv,
#perfil{
  cursor:pointer;
}
.botaoPequeno {
  padding: 6px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 100%;
  border: 1px #ffffff solid;
  color: #ffffff;
  background-color: rgba(23, 22, 22, 0);
  cursor: pointer;
}
.botaoPequeno:hover {
  transform: translate(2px, 2px);
}
.imagemDoPerfil{
  background-color:#ffffff;
}
/* começo */
#bodyInicial{
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp2508495.jpg&f=1&nofb=1&ipt=aee8d3a84421f0fa24cf3d8998766d378de9c87eeec68426eec7232f8341051c&ipo=images);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  min-height: 100%;
}
#musica {
color: white;
font-family: 'Oswald', sans-serif;
font-size: 16pt;
}
#container-musica{
  display:flex;
  align-items: center;
  position: absolute;
  right: 30px;
  top: 10px;
}
#titulo h1 {
  font-family: 'Righteous', cursive;
  font-size: 6vh;
  text-shadow: 2px 4px 14px rgba(72,0,255,0.6);
  color: #e5ffbb;
}

#titulo a {
  display: inline-block;
  font-family: 'Bebas Neue', cursive;
  font-size: 4vh;
  text-shadow: -5px 4px 14px rgb(26, 105, 119);
  color: white;
  text-decoration: none;
}
#titulo p {
  display: inline-block;
  font-family: 'Bebas Neue', cursive;
  font-size: 4vh;
  text-shadow: -5px 4px 14px rgb(26, 105, 119);
  color: white;
  text-decoration: none;
  margin: 0;
}
.botoesDiv:hover {
  animation: girando 1s ease-in-out 0s infinite alternate;
}

@keyframes girando {
from {
  transform: rotate(15deg);
}
to {
  transform: rotate(-15deg);
}
}


#conteudo-principal {
  text-align: center;
}

#logo {
  width: 20vh;
  filter: invert(1);
  padding-top: 150px;
}
/*Placar */

#placar {
  display:flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  float:right;
  width: 45vh;
  height: 70%;
  background-color:#171616;
  border-radius: 10%;
  margin: 2vh;
  z-index: 1;
}
#placar h1{
  text-align: center;
  font-size: 5vh;
  text-decoration: underline;
  color:#ffffff;
}

/*Sobre */
#sobre{
  position: absolute;
  float:left;
  width: 45vh;
  height: 100%;
  background-color:#171616;
  border-radius: 10%;
  z-index: 1;
  margin-left: 3vh;
}
#sobre p {
  text-align: center;
  color:burlywood;
  padding: 2% 7% 2% 7%;
}
#sobre h2 {
  text-align: center;
  color:#ffffff;
  padding-top: 2%;
}

/* perfil*/
#perfil img{
  position:absolute;
  float:right;
  width: 8vh;
  height: 8vh;
  background-color: rgba(255, 255, 255, 0.863);
  border-radius: 100%;
  margin: 1vh;
}
#container-perfil{
  display:flex;
  justify-content:space-between;
  position: absolute;
  width: 100vh;
  height: 100%;
  background-color: #171616;
  border-radius: 10%;
  z-index: 1;
}
#imagemPerfil{
  border-radius: 100%;
  width: 30vh;
  height: 30vh;
  margin: 20px;
  background-color:#ffffff;
  border-style: solid;
  border-color:#051428;
  border-width: 1vh;
}
#container-perfil span{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50vh;
  height: 200px;
  background-color: #051428;
  border-radius: 10%;
}
#container-perfil span>h2{
  color:white;
  text-decoration: underline;
}
#container-perfil span>label{
  color:white;
  margin-left: 10px;
}
#container-perfil span>img{
  border-radius: 100%;
  width: 50px;
  height: 50px;
}


/*MEDIA QUERY CELULAR */
@media (max-width: 600px){
  body{
    display:flex;
    flex-direction: column;
  }
  #perfil{
    background-color: red;
  }
}